<!DOCTYPE html>
<html lang="en">
<head>
    <title>BikePD Error</title>
    <%- include('partials/headers'); %>
</head>
<body>

    <main class="container">

        <div class="row">
            <div class="col">
                <div class="alert alert-danger" role="alert"> Error </div>
            </div>
        </div>

    </main>

    <%- include('partials/footer'); %>

</body>
</html>