<!DOCTYPE html>
<html lang="en">
<head>
    <title>BikePD Officer</title>
    <%- include('partials/headers'); %>
</head>
<body>

    <%- include('partials/nav'); %>

    <main class="container">

      <section class="row m-5">
        <div class="col">
          <div class="card">
            <div class="card-header">
              SuperAdmin
            </div>
          </div>
        </div>
      </section> 

      <section class="row m-5">
        <div class="col">
          <div class="card">
            <div class="card-header">
              Departments
            </div>
            <ul class="list-group list-group-flush">
              <% for (let dep of departments){ %>
                <li class="list-group-item"><%= dep.name %> - <%= dep.address %></li>
              <% } %>
            </ul>
          </div>
        </div>
      </section>  

      
      <section class="row m-5">
        <div class="col">
          <div class="card">
            <div class="card-header">
              Add Department
            </div>
            <div class="card-body">
              <form action="/api/v1/department" method="post">

                <h6 class="card-title">New department</h6>
                <div class="form-group">
                    <input class="form-control" type="text" name="dep_name" id="dep_name" placeholder="Department Name">
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" name="dep_address" id="dep_address" placeholder="Department Address">
                </div>

                <h6 class="card-title">New Director</h6>
                <div class="form-group">
                    <input class="form-control" type="text" name="name" id="name" placeholder="Director Name">
                </div>
                <div class="form-group">
                    <input class="form-control" type="email" name="email" id="email" placeholder="Director e-mail">
                </div>
                <div class="form-group">
                  <input class="form-control" type="password" name="password" id="password" placeholder="Password">
                </div>
                <div class="form-group">
                  <input class="form-control" type="text" name="dni" id="dni" placeholder="Docuemnt ID">
                </div>
                <div class="form-group">
                <input class="form-control" type="number" name="badge" id="badge" placeholder="Director Badge#">
                </div>
  
                <div class="form-group text-right">
                    <input class="btn btn-primary" type="submit" value="Add">
                </div>

            </form>
            </div>
          </div>
        </div>
      </section>   
  
    </main>

    <%- include('partials/footer'); %>

</body>
</html>