<!DOCTYPE html>
<html lang="en">
<head>
    <title>BikePD Officer</title>
    <%- include('partials/headers'); %>
</head>
<body>

    <%- include('partials/nav'); %>

    <main class="container">

      <section class="row m-5">
        <div class="col">
          <div class="card">
            <div class="card-header">
              <div class=row>
                <div class="col-md-4  ">Director: <%= user.name %></div>
                <div class="col-md-4  ">Badge: <%= officer.badge %></div>
                <div class="col-md-4  ">Department: <%= officer.dep_name %></div>
              </div>
            </div>
          </div>
        </div>
      </section> 

    <section class="row m-5">
      <div class="col">
        <div class="card">
          <div class="card-header">
            Police Officers
          </div>
          <ul class="list-group list-group-flush">
            <% for (let officer of officers){ %>
              <li class="list-group-item"><%= officer.badge %> - <%= officer.name %> - <%= officer.email %></li>
             <% }%>
          </ul>
        </div>
      </div>
    </section>  

    
    <section class="row m-5">
      <div class="col">
        <div class="card">
          <div class="card-header">
            Add Officer
          </div>
          <div class="card-body">
            <form action="/api/v1/officer" method="post">
              <h6 class="card-title">New officer</h6>

              <div class="form-group">
                  <input class="form-control" type="text" name="name" id="name" placeholder="Officer Name">
              </div>
              <div class="form-group">
                  <input class="form-control" type="email" name="email" id="email" placeholder="Officer e-mail">
              </div>
              <div class="form-group">
                <input class="form-control" type="password" name="password" id="password" placeholder="Password">
             </div>
             <div class="form-group">
              <input class="form-control" type="text" name="dni" id="dni" placeholder="Docuemnt ID">
              </div>
              <div class="form-group">
                <input class="form-control" type="number" name="badge" id="badge" placeholder="Officers Badge#">
                </div>

              <div class="form-group text-right">
                  <input class="btn btn-primary" type="submit" value="Add">
              </div>
          </form>
          </div>
        </div>
      </div>
    </section>   


    </main>

    <%- include('partials/footer'); %>

</body>
</html>