<!DOCTYPE html>
<html lang="en">
<head>
    <title>BikePD Officer</title>
    <%- include('partials/headers'); %>
</head>
<body>

    <%- include('partials/nav'); %>

    <main class="container">

      <section class="row m-5">
        <div class="col">
          <div class="card">
            <div class="card-header">
              <div class=row>
                <div class="col-md-4  ">Officer: <%= user.name %></div>
                <div class="col-md-4  ">Badge: <%= officer.badge %></div>
                <div class="col-md-4  ">Department: <%= officer.dep_name %></div>
              </div>
            </div>
          </div>
        </div>
      </section> 

      <section class="row m-5">
        <div class="col">
          <div class="card">
            <div class="card-header">
              Open case
            </div>
            <div class="card-body">
              <% if( report == undefined) {%>
                Nothing to do, go get a donnut...
              <% } else {%>

                <form action="/api/v1/report/<%= report.id %>/close" method="get">
              
                  <div class="form-group">
                    <div class="row">
                      <div class="col-md-4">
                        <input class="form-control" type="text" name="id" id="id" placeholder="Id" value="ID: <%= report.id %>" readonly>
                      </div>
                      <div class="col-md-4">
                        <input class="form-control" type="text" name="badge" id="badge" placeholder="Badge" value="<%= officer.badge %>" readonly>
                      </div>
                      <div class="col-md-4">
                        <input class="form-control" type="text" name="status" id="status" placeholder="Id" value="<%= report.report_status %>" readonly>
                      </div>
                    </div>
                  </div>
    
                  <h6 class="card-title">Bike description</h6>
                  <div class="form-group">
                    <input class="form-control" type="text" name="license" id="license" placeholder="License" value="<%= report.license %>" readonly>
                  </div>
                  <div class="form-group">
                    <input class="form-control" type="text" name="color" id="color" placeholder="Color" value="<%= report.color %>" readonly>
                  </div>
                  <div class="form-group">
                    <input class="form-control" type="text" name="model" id="model" placeholder="Model" value="<%= report.model %>" readonly>
                  </div>
                  <div class="form-group">
                    <input class="form-control" type="text" name="brand" id="brand" placeholder="Brand" value="<%= report.brand %>" readonly>
                  </div>
    
                  <h6 class="card-title">Incident</h6>
                  <div class="form-group">
                    <input class="form-control" type="text" name="date" id="date" placeholder="Theft Date (YYYY-MM-DD)" value="<%= report.theft_date %>" readonly>
                  </div>
                  <div class="form-group">
                    <input class="form-control" type="text" name="address" id="address" placeholder="Theft Addres" value="<%= report.theft_address %>" readonly>
                  </div>
                  <div class="form-group">
                    <textarea class="form-control" name="description" id="description" rows="5" placeholder="Theft Description" readonly><%= report.theft_description %></textarea>
                  </div>
    
                    <div class="form-group text-right">
                      <input class="btn btn-primary" type="submit" value="Resolved">
                    </div>

                </form>
    

              <% } %>
            </div>
          </div>
        </div>
      </section>  

      <section class="row m-5">
        <div class="col">
          <div class="card">
            <div class="card-header">
              Search for Reports
            </div>
            <div class="card-body">
              <form class="form-inline my-2 my-lg-0" action="/api/v1/report/id" method="post">
                <input class="form-control mr-sm-2 w-75" id="id" type="search" name="id" placeholder="Search by reportd ID" aria-label="Search">
                <button class="btn btn-primary my-2 my-sm-0" type="submit">Search</button>
              </form>
            </div>
          </div>
        </div>
      </section>  

      <section class="row m-5">
        <div class="col">
          <div class="card">
            <div class="card-header">
              Search for a bike
            </div>
            <div class="card-body">

              <form action="/api/v1/search" method="post">
                <h6 class="card-title">Bike description</h6>
                <div class="form-group">
                    <input class="form-control" type="text" name="license" id="license" placeholder="License">
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" name="color" id="color" placeholder="Color">
                </div>
                <div class="form-group">
                  <input class="form-control" type="text" name="model" id="model" placeholder="Model">
               </div>
               <div class="form-group">
                <input class="form-control" type="text" name="brand" id="brand" placeholder="Brand">
                </div>
                <div class="form-group">
                  <input class="form-control" type="text" name="owner" id="owner" placeholder="Owner name">
                </div>

                <h6 class="card-title">Incident</h6>
                <div class="form-group">
                    <input class="form-control" type="text" name="date" id="date" placeholder="Theft Date (YYYY-MM-DD)">
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" name="address" id="address" placeholder="Theft Addres">
                </div>
                <div class="form-group">
                  <input class="form-control" type="text" name="description" id="description" placeholder="Theft Description">
                </div>
                <div class="form-group">
                  <input class="form-control" type="text" name="status" id="status" placeholder="Theft Status">
                </div>

                <div class="form-group text-right">
                    <input class="btn btn-primary" type="submit" value="Search">
                </div>
            </form>

            </div>
          </div>
        </div>
      </section>  

    </main>

    <%- include('partials/footer'); %>

</body>
</html>