<!DOCTYPE html>
<html lang="en">
<head>
    <title>BikePD Reports</title>
    <%- include('partials/headers'); %>
</head>
<body>

    <%- include('partials/nav'); %>

    <main class="container">

      <section class="row m-5">
        <div class="col">
          <div class="card">
            <div class="card-header">
              <div class=row>
                <div class="col-md-4  ">User: <%= user.name %></div>
                <div class="col-md-4  ">Id: <%= user.dni %></div>
                <div class="col-md-4  ">E-mail: <%= user.email %></div>
              </div>
            </div>
          </div>
        </div>
      </section> 

      <section class="row m-5">
        <div class="col">
          <div class="card">
            <div class="card-header">
              User : Search for Reports
            </div>
            <div class="card-body">
              <form class="form-inline my-2 my-lg-0" action="/api/v1/report/id" method="post">
                <input class="form-control mr-sm-2 w-75" id="id" type="search" name="id" placeholder="Search by reportd ID" aria-label="Search">
                <button class="btn btn-primary my-2 my-sm-0" type="submit">Search</button>
              </form>
            </div>
          </div>
        </div>
      </section>  

      <section class="row m-5">
        <div class="col">
          <div class="card ">
            <div class="card-header">
              Create Reports
            </div>
            <div class="card-body ">
              <form action="/api/v1/report" method="post">
                <h6 class="card-title">Bike description</h6>
                <div class="form-group">
                    <input class="form-control" type="text" name="license" id="license" placeholder="License">
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" name="color" id="color" placeholder="Color">
                </div>
                <div class="form-group">
                  <input class="form-control" type="text" name="model" id="model" placeholder="Model">
               </div>
               <div class="form-group">
                <input class="form-control" type="text" name="brand" id="brand" placeholder="Brand">
                </div>

                <h6 class="card-title">Incident</h6>
                <div class="form-group">
                    <input class="form-control" type="text" name="date" id="date" placeholder="Theft Date (YYYY-MM-DD)">
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" name="address" id="address" placeholder="Theft Addres">
                </div>
                <div class="form-group">
                  <textarea class="form-control" name="description" id="description" rows="5" placeholder="Theft Description"></textarea>
               </div>

                <div class="form-group text-right">
                    <input class="btn btn-primary" type="submit" value="Report">
                </div>
            </form>

            </div>
          </div>
        </div>
      </section>  

    </main>

    <%- include('partials/footer'); %>

</body>
</html>