<!DOCTYPE html>
<html lang="en">

<head>
  <title>BikePD Reports</title>
  <%- include('partials/headers'); %>
</head>

<body>

  <%- include('partials/nav'); %>

  <main class="container">

    <section class="row m-5">
      <div class="col">
        <div class="card ">
          <div class="card-header">
            Report
          </div>
          <div class="card-body ">
            <% if( report === undefined ) { %>
              <div class="alert alert-danger" role="alert"> Report not found! </div>
            <% }else{ %>
            <form action="/api/v1/report" method="post">
              
              <div class="form-group">
                <div class="row">
                  <div class="col-md-4">
                    ID <input class="form-control" type="text" name="id" id="id" placeholder="Id" value="<%= report.id %>" readonly>
                  </div>
                  <div class="col-md-4">
                    Officer Badge<input class="form-control" type="text" name="badge" id="badge" placeholder="Badge" value="<%= report.badge %>" readonly>
                  </div>
                  <div class="col-md-4">
                    Status<input class="form-control" type="text" name="status" id="status" placeholder="Id" value="<%= report.report_status %>" readonly>
                  </div>
                </div>
              </div>

              <h6 class="card-title">Bike description</h6>
              <div class="form-group">
                License<input class="form-control" type="text" name="license" id="license" placeholder="License" value="<%= report.license %>" readonly>
              </div>
              <div class="form-group">
                Color<input class="form-control" type="text" name="color" id="color" placeholder="Color" value="<%= report.color %>" readonly>
              </div>
              <div class="form-group">
                Model<input class="form-control" type="text" name="model" id="model" placeholder="Model" value="<%= report.model %>" readonly>
              </div>
              <div class="form-group">
                Brand<input class="form-control" type="text" name="brand" id="brand" placeholder="Brand" value="<%= report.brand %>" readonly>
              </div>

              <h6 class="card-title">Incident</h6>
              <div class="form-group">
                Date<input class="form-control" type="text" name="date" id="date" placeholder="Theft Date (YYYY-MM-DD)" value="<%= report.theft_date %>" readonly>
              </div>
              <div class="form-group">
                Address<input class="form-control" type="text" name="address" id="address" placeholder="Theft Addres" value="<%= report.theft_address %>" readonly>
              </div>

              <div class="form-group">
                <div class="row">
                  <div class="col-md-6">
                    Latitude<input class="form-control" type="text" name="lat" id="lat" placeholder="Latitude" value="<%= report.lat %>" readonly>
                  </div>
                  <div class="col-md-6">
                    Longitude <input class="form-control" type="text" name="lng" id="lng" placeholder="longitude" value="<%= report.lng %>" readonly>
                  </div>
                </div>
              </div>

              <div class="form-group">
                Description<textarea class="form-control" name="description" id="description" rows="5" placeholder="Theft Description" readonly><%= report.theft_description %></textarea>
              </div>

              

              <!--
                <div class="form-group text-right">
                  <input class="btn btn-primary" type="submit" value="Report">
                </div>
              -->
            </form>
            <% } %>
          </div>
        </div>
      </div>
    </section>

  </main>

  <%- include('partials/footer'); %>

</body>

</html>