<!DOCTYPE html>
<html lang="en">

<head>
  <title>BikePD Reports</title>
  <%- include('partials/headers'); %>
</head>

<body>

  <%- include('partials/nav'); %>

  <main class="container">

    <section class="row m-5">
      <div class="col">
        <div class="card ">
          <div class="card-header">
            Reports
          </div>
          <div class="card-body ">
            <% if( reports.length == 0 ) { %>
              <div class="alert alert-danger" role="alert"> Report not found! </div>
            <% }else{ %>
            <form action="/api/v1/report" method="post">
              <%  for (let report of reports){ %>
              <div class="card mb-3"><div class="card-body">
                  
                <div class="form-group">
                  <div class="row">
                    <div class="col-md-4">
                      <input class="form-control" type="text" name="id" id="id" placeholder="Id" value="ID: <%= report.id %>" readonly>
                    </div>
                    <div class="col-md-4">
                      <input class="form-control" type="text" name="badge" id="badge" placeholder="Badge" value="<%= report.badge %>" readonly>
                    </div>
                    <div class="col-md-4">
                      <input class="form-control" type="text" name="status" id="status" placeholder="Officer" value="<%= report.off_name %>" readonly>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <div class="row">
                    <div class="col-md-4">
                      <input class="form-control" type="text" name="id" id="id" placeholder="Department" value="<%= report.dep_name %>" readonly>
                    </div>
                    <div class="col-md-4">
                      <input class="form-control" type="text" name="badge" id="badge" placeholder="Address" value="<%= report.dep_address %>" readonly>
                    </div>
                    <div class="col-md-4">
                      <input class="form-control" type="text" name="status" id="status" placeholder="Status" value="<%= report.report_status %>" readonly>
                    </div>
                  </div>
  
                </div>
  
                <h6 class="card-title">Bike description</h6>
                <div class="form-group">
                  <input class="form-control" type="text" name="license" id="license" placeholder="License" value="<%= report.license %>" readonly>
                </div>
                <div class="form-group">
                  <input class="form-control" type="text" name="color" id="color" placeholder="Color" value="<%= report.color %>" readonly>
                </div>
                <div class="form-group">
                  <input class="form-control" type="text" name="model" id="model" placeholder="Model" value="<%= report.model %>" readonly>
                </div>
                <div class="form-group">
                  <input class="form-control" type="text" name="brand" id="brand" placeholder="Brand" value="<%= report.brand %>" readonly>
                </div>
  
                <h6 class="card-title">Incident</h6>
                <div class="form-group">
                  <input class="form-control" type="text" name="date" id="date" placeholder="Theft Date (YYYY-MM-DD)" value="<%= report.theft_date %>" readonly>
                </div>
                <div class="form-group">
                  <input class="form-control" type="text" name="address" id="address" placeholder="Theft Addres" value="<%= report.theft_address %>" readonly>
                </div>
                <div class="form-group">
                  <textarea class="form-control" name="description" id="description" rows="5" placeholder="Theft Description" readonly><%= report.theft_description %></textarea>
                </div>
              </div></div>
              <%  } %>
              <!--
                <div class="form-group text-right">
                  <input class="btn btn-primary" type="submit" value="Report">
                </div>
              -->
            </form>
            <% } %>
          </div>
        </div>
      </div>
    </section>

  </main>

  <%- include('partials/footer'); %>

</body>

</html>